<footer class="footer">
    <div class="footer-wrap">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="#"
                    target="_blank">Maliki
                </a>2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">License to Pengadilan Agama Jakarta
                Utara</span>
        </div>
    </div>
</footer>