<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wanotif</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/template/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/template/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:/template/partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
            <%- include('nav-top') -%>
                <%- include('nav-bot') -%>
        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h2>Control Panel</h2>
                                    <p class="card-description">
                                        Gunakan tombol dibawah untuk control aplikasi
                                    </p>
                                    <div class="template-demo">
                                        <button id="start-button" class="btn btn-success btn-lg">
                                            <i class="mdi mdi-play"></i>
                                            Start Whatsapp
                                        </button>
                                        <br>
                                        <button id="stop-button" class="btn btn-danger btn-lg">
                                            <i class="mdi mdi-stop"></i>
                                            Stop Whatsapp
                                        </button>
                                        <br>
                                        <button class="btn btn-warning btn-lg">
                                            <i class="mdi mdi-logout"></i>
                                            Logout Whatsapp
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h2>Barcode Sign In Log</h2>
                                    <p class="card-description">
                                        Silahkan Scan QR Code dibawah ini
                                    </p>
                                    <div class="template-demo">
                                        <img id='qrcode' src="" alt="QRCODE" title="qrcode" width="500" height="500" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Application Log</h4>
                                    <p class="card-description">
                                        Menampilkan log aktivitas dari aplikasi
                                    </p>

                                    <div class="template-demo" style="height: 500px; overflow-x: auto"
                                        id="main-app-log">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Whatsapp Log</h4>
                                    <p class="card-description">
                                        Menampilkan log aktivitas pesan whatsapp
                                    </p>
                                    <div class="template-demo" style="height: 500px; overflow-x: auto" id="main-wa-log">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('footer') -%>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="/template/vendors/base/vendor.bundle.base.js"></script>
    <script src="/template/js/template.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        var qrImage = $('#qrcode');
        var startButton = $('#start-button');
        var stopButton = $('#stop-button');

        var mainAppLog = $("#main-app-log")
        var mainWaLog = $("#main-wa-log")
        var connectStatus = false;

        qrImage.hide()


        const logTemplate = (log, time) => {
            return `<div class="row">
                        <hr>
                        <div class="col-md">
                            <h6>Log : ${log}</h6>
                        </div>
                        <div class="col-md">
                            <h6>Waktu : ${time}</h6>
                        </div>
                    </div>`;
        };

        startButton.on('click', () => {
            swalloading()

            $.ajax({
                url: '/api/start_whatsapp',
                method: 'POST',
                success(data) {
                    Swal.fire(data.status, data.message, 'info')
                }
            })
        })

        stopButton.on('click', () => {
            swalloading()

            $.ajax({
                url: '/api/stop_whatsapp',
                method: 'POST',
                success(data) {
                    Swal.fire(data.status, data.message, 'info')
                    qrImage.hide()
                }
            })
        })


        if ("WebSocket" in window) {
            const ws = new WebSocket("ws://localhost:8080/socket");

            function connecToWs() {
                ws.onopen = function () {
                    Swal.fire('Ok', 'Websocket is Connected', 'success')
                    connectStatus = false;
                };
            }

            connecToWs()

            ws.onmessage = function (evt) {

                const response = JSON.parse(evt.data)

                switch (response.event) {
                    case "connected":
                        console.log("Connected")
                        break;
                    case "qr":
                        if (!response.err) {
                            qrImage.show()
                            qrImage.attr('src', response.payload)
                        }
                        break;
                    case "log":

                        const { msg, time, type } = response.payload
                        if (type === "APP") {
                            mainAppLog.prepend(logTemplate(msg, time))
                        } else {
                            mainWaLog.prepend(logTemplate(msg, time))
                        }
                        break;
                    default:
                        break;
                }


            };

            ws.onclose = function () {
                Swal.fire('Closed', 'Websocket was closed', 'info')
                connectStatus = false;
            };
        } else {
            Swal.fire('Error', 'Browser not support websocket', 'error')
        }

        const swalloading = () => {
            return Swal.fire({
                title: "Mohon Tunggu",
                willOpen: () => Swal.showLoading,
                backdrop: true,
                allowOutsideClick: false,
                showConfirmButton: false
            })
        }

    </script>
</body>

</html>