<nav class="bottom-navbar">
    <div class="container">
        <ul class="nav page-navigation">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/services" class="nav-link">
                    <i class="mdi mdi-message-draw menu-icon"></i>
                    <span class="menu-title">Services</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="/message_template" class="nav-link">
                    <i class="mdi mdi-text menu-icon"></i>
                    <span class="menu-title">Message Template</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="/template/pages/forms/basic_elements.html" class="nav-link">
                    <i class="mdi mdi-calendar menu-icon"></i>
                    <span class="menu-title">Schedule Message</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>